{% extends "Home/base.html"%}
{% block basepage %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="grid gap-10 lg:grid-cols-2">
      <div class="flex flex-col justify-center md:pr-8 xl:pr-0 lg:max-w-lg">
        <div class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-teal-accent-400">
          <svg class="text-teal-900 w-7 h-7" viewBox="0 0 24 24">
            <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" points=" 8,5 8,1 16,1 16,5" stroke-linejoin="round"></polyline>
            <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" points="9,15 1,15 1,5 23,5 23,15 15,15" stroke-linejoin="round"></polyline>
            <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" points="22,18 22,23 2,23 2,18" stroke-linejoin="round"></polyline>
            <rect x="9" y="13" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" width="6" height="4" stroke-linejoin="round"></rect>
          </svg>
        </div>
        <div class="max-w-xl mb-6">
          <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
            Let us handle<br class="hidden md:block" />
            your next
            <span class="inline-block text-deep-purple-accent-400">Life</span>
          </h2>
          <p class="text-base text-gray-700 md:text-lg">
            Book Hotel at Signature.Get Full life Experience
          </p>
        </div>
        <div>
          <a href="{% url 'room' %}" aria-label="" class="inline-flex items-center font-semibold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800">
            Book Now
            <svg class="inline-block w-3 ml-2" fill="currentColor" viewBox="0 0 12 12">
              <path d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="flex items-center justify-center -mx-4 lg:pl-8">
        <div class="flex flex-col items-end px-3">
          <img
            class="object-cover mb-6 rounded shadow-lg h-28 sm:h-70 xl:h-96 w-28 sm:w-96 xl:w-96"
            src="{{ MEDIA_URL }}/static/image/exterior.jpg"
            alt=""
          />
          <img class="object-cover w-20 h-20 rounded shadow-lg sm:h-60 xl:h-90 sm:w-96 xl:w-96" src="{{ MEDIA_URL }}/static/image/swimming.jpg" alt="" />
        </div>
        <div class="px-3">
          <img class="object-cover w-40 h-40 rounded shadow-lg sm:h-80 xl:h-94 sm:w-96 xl:w-96" src="{{ MEDIA_URL }}/static/image/room.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>    
</body>
</html>
{% endblock basepage %}